.property-list {

}

    .property-list__credit {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin: 10px 0;
        padding: 10px 0;
    }

    .property-list__property {
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        padding: 10px 0;
    }

        .property-list__property h2 {
            margin-top: 0;
        }

    .property-list__transactions {
    }

        .property-list__transactions th {
            padding-right: 20px;
            text-align: left;
            width: 120px;
        }