button {
    border: 0;
    border-collapse: collapse;
    background: green;
    color: white;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}

input#property_search_postcode {
    box-sizing: border-box;
    text-transform: uppercase;
    width: 100%;
}

input[type="text"] {
    font-size: 1.8rem;
    padding: 10px;
}

label {
    display: block;
    margin: 10px 0;
}

