{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/search-form.css" />
{% endblock %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="search-layout">
        <div class="container">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
